<ion-item>
  <ion-label position="stacked">Type: {{rescueConf.batteryType}}</ion-label>
  <ion-chip outline color="secondary" (click)="changeBatteryType($event)">
    <ion-icon name="battery-charging-outline"></ion-icon>
    <ion-label>Select Battery Presets</ion-label>
  </ion-chip>
</ion-item>
<ion-item>
  <ion-label position="stacked">Battery drift</ion-label>
  <ion-input class="ion-text-right" type="number" inputmode="decimal"
             [(ngModel)]="rescueConf.batteryDrift"
             (ionChange)="checkValues()"
             step="0.1" slot="end"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Min voltage (V)</ion-label>
  <ion-input class="ion-text-right" type="number" inputmode="decimal"
             min="{{batteryPresets.minVoltage - 1}}" max="{{batteryPresets.maxVoltage}}"
             [(ngModel)]="rescueConf.minBatteryVoltage"
             (ionChange)="checkValues()"
             step="0.1" slot="end"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Low battery warning (V)</ion-label>
  <ion-input class="ion-text-right" type="number" inputmode="decimal"
             min="{{batteryPresets.minVoltage}}" max="{{batteryPresets.maxVoltage}}"
             [(ngModel)]="rescueConf.lowBatteryVoltage"
             (ionChange)="checkValues()"
             step="0.1" slot="end"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Max voltage (V)</ion-label>
  <ion-input class="ion-text-right" type="number" inputmode="decimal"
             min="{{batteryPresets.minVoltage}}" max="{{batteryPresets.maxVoltage + 1}}"
             [(ngModel)]="rescueConf.maxBatteryVoltage"
             (ionChange)="checkValues()"
             step="0.1" slot="end"></ion-input>
</ion-item>
