<ion-item>
  <ion-input label="Number of pixel" class="ion-text-right" type="number" value="32" [(ngModel)]="rescueConf.numberPixelLight"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Type: {{rescueConf.ledType}} {{rescueConf.ledFrequency}}</ion-label>
  <ion-chip outline color="secondary" (click)="changeLedType($event)">
    <ion-icon name="bulb-outline"></ion-icon>
    <ion-label>Change Type</ion-label>
  </ion-chip>
</ion-item>
<ion-item-divider>
  <ion-label>
    Light pattern
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-label position="stacked">Start Light Pattern</ion-label>
  <ion-select [(ngModel)]="rescueConf.startLightIndex" interface="action-sheet">
    <ion-select-option value="1">Chasing</ion-select-option>
    <ion-select-option value="2">Cylone</ion-select-option>
    <ion-select-option value="3">Rainbow</ion-select-option>
    <ion-select-option value="4">Sliding</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label position="stacked">Idle Light Pattern</ion-label>
  <ion-select [(ngModel)]="rescueConf.idleLightIndex" interface="action-sheet">
    <ion-select-option value="1">Chasing</ion-select-option>
    <ion-select-option value="2">Cylone</ion-select-option>
    <ion-select-option value="3">Rainbow</ion-select-option>
    <ion-select-option value="4">Pulsating</ion-select-option>
    <ion-select-option value="5">Battery-Indicator</ion-select-option>
    <ion-select-option value="6">Trans-Pride</ion-select-option>
  </ion-select>
</ion-item>
<ion-item-divider>
  <ion-label>
    Light settings
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-label class="ion-text-wrap">Front color</ion-label>
  {{lightColorPrimary}}
  <ion-note slot="end">
    <ngx-colors ngx-colors-trigger
                [(ngModel)]="lightColorPrimary"
                (input)="updatePrimaryColor($event)"
                (change)="updatePrimaryColor($event)"
                [colorPickerControls]="colorPickerControlsStr"
                [format]="colorPickerFormat"></ngx-colors>
  </ion-note>
</ion-item>
<ion-item>
  <ion-label class="ion-text-wrap">Back color</ion-label>
  {{lightColorSecondary}}
  <ion-note slot="end">
    <ngx-colors ngx-colors-trigger
                [(ngModel)]="lightColorSecondary"
                (input)="updateSecondaryColor($event)"
                (change)="updateSecondaryColor($event)"
                [colorPickerControls]="colorPickerControlsStr"
                [format]="colorPickerFormat"></ngx-colors>
  </ion-note>
</ion-item>
<ion-item>
          <ion-range label="LED Maximum Brightness [{{rescueConf.lightMaxBrightness}}]" min="0" max="255" step="1" [(ngModel)]="rescueConf.lightMaxBrightness" pin snaps color="secondary">
            <ion-icon slot="start" size="small" color="secondary" name="sunny"></ion-icon>
            <ion-icon slot="end" color="secondary" name="sunny"></ion-icon>
          </ion-range>
</ion-item>
<ion-item>
    <ion-range label="LED Fading Duration [{{rescueConf.lightFadingDuration}} ms]" min="0" max="500" step="1" [(ngModel)]="rescueConf.lightFadingDuration" pin snaps color="secondary">
      <ion-icon slot="start" size="small" color="secondary" name="timer-outline"></ion-icon>
      <ion-icon slot="end" color="secondary" name="timer-outline"></ion-icon>
    </ion-range>
</ion-item>
<ion-item>
    <ion-range label="LED Idle Timeout [{{ (rescueConf.idleLightTimeout > 0 ? rescueConf.idleLightTimeout + 'ms' : 'infinite') }}]" min="0" max="60000" step="500" [(ngModel)]="rescueConf.idleLightTimeout" pin snaps color="secondary">
      <ion-icon slot="start" size="small" color="secondary" name="timer-outline"></ion-icon>
      <ion-icon slot="end" color="secondary" name="timer-outline"></ion-icon>
    </ion-range>
</ion-item>
<ion-item-divider>
  <ion-label>
    Brake light
  </ion-label>
</ion-item-divider>
<ion-item>
  <ion-toggle name="brakeLightsEnabled" justify="space-between" [(ngModel)]="rescueConf.brakeLightEnabled">
    Enable Brake Light
  </ion-toggle>
</ion-item>
<ion-item *ngIf="rescueConf.brakeLightEnabled">
    <ion-range label="Brake Light Amp Min [{{rescueConf.brakeLightMinAmp}} A]" min="1" max="10" step="1" [(ngModel)]="rescueConf.brakeLightMinAmp" pin snaps color="secondary">
    </ion-range>
</ion-item>
