<ion-item>
  <ion-text>
    <p>Please configure your VESC-ID appropriately to match the ID in VESC.</p>
  </ion-text>
</ion-item>
<ion-item>
  <ion-input label="VESC-ID" class="ion-text-right" labelPlacement="stacked" 
             type="number" min="1" [(ngModel)]="rescueConf.vescId" (ionChange)="changeVescId($event)"></ion-input>
</ion-item>
<ion-item-divider>
  <ion-label>
    Time settings
  </ion-label>
</ion-item-divider>
<ion-item>
    <ion-range label="Realtime-Data Interval [{{rescueConf.realtimeDataInterval}} ms]" labelPlacement="stacked" min="200" max="1000" 
               step="50" value="{{rescueConf.realtimeDataInterval}}" (ionChange)="changeRealtimeDataInterval($event)" pin snaps color="secondary">
      <ion-icon slot="start" size="small" color="secondary" name="timer-outline"></ion-icon>
      <ion-icon slot="end" color="secondary" name="timer-outline"></ion-icon>
    </ion-range>
</ion-item>
<ion-item>
    <ion-range label="Balance-Data Interval [{{rescueConf.balanceDataInterval}} ms]" labelPlacement="stacked" min="200" max="1000" 
    step="50" value="{{rescueConf.balanceDataInterval}}" (ionChange)="changeBalanceDataInterval($event)" pin snaps color="secondary">
      <ion-icon slot="start" size="small" color="secondary" name="timer-outline"></ion-icon>
      <ion-icon slot="end" color="secondary" name="timer-outline"></ion-icon>
    </ion-range>
</ion-item>
