ion-card-header {
  padding-bottom: 5px !important;
}

ion-card-title {
  font-size: 1.5em;
}

ion-card-subtitle {
  font-size: 0.7em;
}

ion-toggle {
  height: 20px;
  font-size: 8px;
}

ion-footer {
  position: fixed;
  bottom: 0%;
}
