ion-card-header {
  padding-bottom: 5px !important;
}

ion-card-title {
  font-size: 1.5em;
}

ion-card-subtitle {
  font-size: 0.7em;
}

ion-footer {
  position: fixed;
  bottom: 0%;
}

ion-icon.bulb-on {
  color: #e0ac08;
}

ion-icon.bulb-off {
  color: gray;
}
