<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-toggle name="notificationsEnabled" justify="space-between" [(ngModel)]="appSettings.notificationsEnabled" 
                  (ngModelChange)="appSettings.toggleValue('notificationsEnabled', $event)">
        Allow Push-Notifications
      </ion-toggle>
    </ion-item>
    <ion-item-group *ngIf="!appSettings.notificationsEnabled">
      <ion-card>
        <ion-card-content>
          Turns on "Local Push-Notifications" that are independent of a rESCue-device and also work with any other Bluetooth module.<br/><br/>
          If you use a rESCueDevice, you could activate "Local Push-Notification" in addition to the notifications send by your rESCue-device.<br/><br/>
          Find out more about <a href="https://rescuestore.net" target="_blank">rESCue-device</a>.
        </ion-card-content>
      </ion-card>
    </ion-item-group>
    <ion-item-group *ngIf="appSettings.notificationsEnabled">
      <ion-item-divider>
        <ion-label>
          Notification types
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-toggle name="batteryNotificationEnabled" justify="space-between" [(ngModel)]="appSettings.batteryNotificationEnabled"
                    (ngModelChange)="appSettings.toggleValue('batteryNotificationEnabled', $event)">
          Battery Warnings
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="appSettings.batteryNotificationEnabled">
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-item>
                <ion-input label="Min" name="minVoltage" placeholder="40.0" [(ngModel)]="appSettings.minVoltage"
                           (ngModelChange)="appSettings.updateValue('notification.minVoltage',$event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Low" name="lowVoltage" placeholder="42.0" [(ngModel)]="appSettings.lowVoltage"
                           (ngModelChange)="appSettings.updateValue('notification.lowVoltage',$event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Max" name="maxVoltage" placeholder="50.4" [(ngModel)]="appSettings.maxVoltage"
                           (ngModelChange)="appSettings.updateValue('notification.maxVoltage',$event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-toggle name="currentNotificationEnabled" justify="space-between"[(ngModel)]="appSettings.currentNotificationEnabled"
                    (ngModelChange)="appSettings.toggleValue('currentNotificationEnabled', $event)">
          Current Warnings
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="appSettings.currentNotificationEnabled">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input label="Max Amp" name="maxCurrent" placeholder="40" [(ngModel)]="appSettings.maxCurrent"
                           (ngModelChange)="appSettings.updateValue('notification.maxCurrent',$event)"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input label="Time (ms)" name="timeCurrent" placeholder="5000" [(ngModel)]="appSettings.interval"
                           (ngModelChange)="appSettings.updateValue('notification.interval',$event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-toggle name="erpmNotificationEnabled" justify="space-between"[(ngModel)]="appSettings.erpmNotificationEnabled"
                    (ngModelChange)="appSettings.toggleValue('erpmNotificationEnabled', $event)">
          ERPM Warnings
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="appSettings.erpmNotificationEnabled">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input label="Max RPM" name="maxErpm" placeholder="45000" [(ngModel)]="appSettings.maxErpm"
                           (ngModelChange)="appSettings.updateValue('notification.maxErpm',$event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-toggle name="dutycycleNotificationEnabled" justify="space-between" [(ngModel)]="appSettings.dutycycleNotificationEnabled"
                    (ngModelChange)="appSettings.toggleValue('dutycycleNotificationEnabled', $event)">
          DutyCycle Warnings
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="appSettings.dutycycleNotificationEnabled">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input label="Max Duty" name="maxDuty" placeholder="80" [(ngModel)]="appSettings.maxDuty"
                           (ngModelChange)="appSettings.updateValue('notification.maxDuty',$event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-toggle name="speedNotificationEnabled" justify="space-between" [(ngModel)]="appSettings.speedNotificationEnabled"
                    (ngModelChange)="appSettings.toggleValue('speedNotificationEnabled', $event)">
          Speed  Warnings
        </ion-toggle>
      </ion-item>
      <ion-item *ngIf="appSettings.speedNotificationEnabled">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input *ngIf="appSettings.metricSystemEnabled" label="Max Speed (km/h)" name="maxSpeed"
                           placeholder="28" [(ngModel)]="appSettings.maxSpeed"
                           (ngModelChange)="appSettings.updateValue('notification.maxSpeed',$event)"></ion-input>
                <ion-input *ngIf="!appSettings.metricSystemEnabled" label="Max Speed (mph)" name="maxSpeed" 
                          placeholder="28" [(ngModel)]="appSettings.maxSpeed"
                           (ngModelChange)="appSettings.updateValue('notification.maxSpeed',$event)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="appSettings.notificationsEnabled">
      <ion-item-divider>
        <ion-label>
          Custom Notifications
        </ion-label>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
  <ion-fab horizontal="begin" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" size="small" (click)="sendNotification()">
      <ion-icon md="add-circle-outline" ios="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
