* {
  font-family: lato;
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: linear-gradient(90deg, #222428 0%, #383a3e 100%);
  box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    // border: 7px solid #fff;
    margin-right: 14px;
  }

  h2 {
    font-weight: 300;
    color: #fff;
  }

  p {
    font-size: 12px;
    color: #e4e4e4;
    font-weight: 100;
    letter-spacing: 0.4px;
  }
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #1e2023;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .active {
    border-left: 5px solid;
    color: #a2a4ab;
    padding-left: 15px;

    ion-icon {
      color: #a2a4ab;
    }
  }

  .red {
    color: #ff5b71;
  }
}
