<ion-list>
  <ion-list-header>Select Battery Type</ion-list-header>
  <ion-item>
    <ion-input labelPlacement="stacked" type="number" min="1" max="24" [(ngModel)]="batteryCells" (ionChange)="changeCellCount($event)">
      <div slot="label">Cell Count {{batteryCells}}s</div>
    </ion-input>
  </ion-item><br/>
  <ion-item>
    <ion-input labelPlacement="stacked" type="number" min="1" max="10" step="1" [(ngModel)]="batteryGroups" (ionChange)="changeGroupCount($event)">
      <div slot="label">Group Count {{batteryGroups}}p</div>
    </ion-input>
  </ion-item><br/>
  <ion-item>
    <ion-input  labelPlacement="stacked" type="number" min="1200" max="6000" step="100" [(ngModel)]="cellCapacity" (ionChange)="changeCapacity($event)">
      <div slot="label">Cell Capacity {{cellCapacity}}mAh</div>
  </ion-input>
  </ion-item>
</ion-list>
<ion-button (click)="close()" color="primary" expand="block">Set</ion-button>
