<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Updating your rESCue device</ion-title>
    <ion-buttons slot="start">
      <ion-back-button id="updateBackButton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <input id="fileInputID" type="file" style="display:none" (change)="onFirmwareFileSelected($event)">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Update your rESCue device!</ion-card-title>
        <ion-card-subtitle>Name: {{deviceName}}, Hardware version: {{hardwareVersion}}, {{deviceString}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="clear" onclick="window.open('https://github.com/thankthemaker/rESCue/blob/master/versions.md', '_system', 'location=yes')">
          Read about firmware versions
        </ion-button><br/>
        <ion-chip outline color="secondary" (click)="loadVersions()" id="loadVersionsChip">
          <ion-icon name="pricetags-outline"></ion-icon>
          <ion-label>Change version</ion-label>
        </ion-chip>
        <ion-chip outline color="secondary" (click)="loadTypes()" id="loadTypesChip">
          <ion-icon name="albums-outline"></ion-icon>
          <ion-label>Change type</ion-label>
        </ion-chip>
        <ion-list *ngIf="softwareVersion !== 'Local File'">
          <ion-item>
            <ion-label>Firmware-Channel:</ion-label>
            <ion-badge *ngIf="!appSettings.betaFirmwareUpdatesEnabled" color="success" slot="end">stable</ion-badge>
            <ion-badge *ngIf="appSettings.betaFirmwareUpdatesEnabled" color="warning" slot="end">beta</ion-badge>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="!downloadFinished">
          <ion-item>
                Downloading firmware:<br/>
                {{firmwareString}}, please wait...
              </ion-item>
        </ion-list>
        <ion-list *ngIf="downloadFinished && !downloadFailed">
          <ion-item>
           <ion-label>Downloaded firmware:<br/>
            {{firmwareString}}, size {{totalSize}} bytes</ion-label>
            <ion-icon slot="end" name="checkmark-circle" color="success"></ion-icon>
          </ion-item>
        <ion-item>
            Checking firmware integrity:<br/>
            checksum {{checksum | slice:0:30}}
            <ion-icon slot="end" name="shield-checkmark" color="success"></ion-icon>
        </ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="downloadFailed">
      <ion-card-content>
        <div>
          <span style="color:darkred"><b>This firmware couldn't be retrieved from our server.</b></span>
        </div><br/>
          <p>
            Maybe you're running a beta version.
          </p><br/>
          <p>
            If you want to update your device to a stable version, please disable beta updates in settings and select 
            another version by clicking the "change version" button above.
          </p>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="updateInProgress">
      <ion-card-content>
        <div>
          <br/>
          <p>Now updating your rESCue device.</p>
          <p>Please be patient, the update might take several minutes.</p>
          <br/>
          <p>
            <ion-progress-bar [type]="progressbarType" [value]="progressNum"></ion-progress-bar>
            Progress: {{progress}}
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="updateDevice()" color="primary" expand="block" *ngIf="!updateInProgress" [disabled]="disabled">
    Start Update
    <ion-icon slot="start" name="update" id="updateButton"></ion-icon>
  </ion-button>
</ion-footer>
