<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Updating your rESCue device</ion-title>
    <ion-buttons slot="start">
      <ion-back-button id="updateBackButton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Updating your rESCue device!</ion-card-title>
        <ion-card-subtitle>Hardware version: {{hardwareVersion}}, Name: {{deviceName}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-chip outline color="secondary" (click)="loadVersions()" id="loadVersionsChip">
          <ion-icon name="pricetags-outline"></ion-icon>
          <ion-label>Change version</ion-label>
        </ion-chip>
        <div *ngIf="!downloadFinished">
          <p>
            Downloading firmware version: {{softwareVersion}}, please wait...
          </p>
          <br/>
        </div>
        <div *ngIf="downloadFinished && !downloadFailed">
          <p>
            Downloaded firmware version: {{softwareVersion}}, size {{totalSize}} bytes
            <ion-icon name="checkmark-circle" color="success"></ion-icon>
          </p>
          <br/>
          <p>
            Checking firmware integrity:<br/>
            checksum {{checksum | slice:0:30}}
            <ion-icon name="shield-checkmark" color="success"></ion-icon>
          </p>
        </div>
        <div *ngIf="downloadFailed">
          <br/>
          <p>
            <span style="color:darkred"><b>This firmware couldn't be retrieved from our server.</b></span>
          </p><br/>
          <p>
            Maybe you're running a beta version.
          </p><br/>
          <p>
            If you want to update your device to a stable version, please select another version by clicking the
            "change version" button above.
          </p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <div *ngIf="updateInProgress">
          <br/>
          <p>Now updating your rESCue device.</p>
          <p>Please be patient, the update might take several minutes.</p>
          <br/>
          <p>
            <ion-progress-bar value="{{progressNum}}"></ion-progress-bar>
            Progress: {{progress}}
            <i *ngIf="resentCounter > 0">, packages resent: {{resentCounter}}</i>
          </p>
        </div>
        <div *ngIf="!updateInProgress && !wifiEnabled && wifiSupported">
          <p>
            Normally the update is done via Bluetooth (BLE). If you like to use WiFi instead, please mark the checkbox
            <i>"enable WiFi update"</i> below<br/>
          </p>
        </div>
        <div *ngIf="!updateInProgress && wifiEnabled">
          <p>
            WiFi activated please connect to the access point <i>"rESCue Updates"</i> via WiFi.
            Once connected, please start the update.<br/><br/>
            <ion-item *ngIf="!isWifiConnected">
              Waiting for WiFi connection
              <ion-spinner name="dots"></ion-spinner>
            </ion-item>
            <ion-item *ngIf="isWifiConnected">
              WiFi connection
              <ion-icon name="checkmark-circle" color="success"></ion-icon>
            </ion-item>
            If you want to update via Bluetooth instead, please unmark the checkbox
            <i>"enable WiFi update"</i> below<br/>
          </p>
        </div>
        <ion-item *ngIf="!updateInProgress && wifiSupported">
          <ion-label>enable WiFi update</ion-label>
          <ion-checkbox color="primary" (click)="toggle()" slot="start" id="enableWifiCheckbox"></ion-checkbox>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="updateDevice()" color="primary" expand="block" *ngIf="!updateInProgress" [disabled]="disabled">
    Start Update
    <ion-icon slot="start" name="update" id="updateButton"></ion-icon>
  </ion-button>
</ion-footer>
