<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <h1 size="large" align="center">rESCueApp</h1>

  <div id="logo">
    <img width="128" src="assets/icon/favicon.png">
  </div>
  <div id="container">
    <strong>Welcome to rESCue App!</strong>
    <p>Start <b>scanning</b> for your device.</p><br/>
    <ion-button size="large" (click)="connect(false)" color="primary" id="scanButton">Scan <ion-icon slot="end" name="bluetooth"></ion-icon></ion-button><br/>
    <ion-button *ngIf="isConnected()" size="small" (click)="disconnect()" color="danger">Disconnect <ion-icon slot="end" name="bluetooth"></ion-icon></ion-button>
  </div>
  <div  id="autoconnect" *ngIf="autoconnect">
    <br/>
    <h4>Autoconnect <span style="color:green">active</span></h4><p> Trying to connect to your device...</p><br/>
  </div>
</ion-content>

<ion-footer>
  <div class="ion-text-end">
    <ion-button (click)="startWizard()" buttonType="light"><ion-icon slot="start" name="color-wand-outline"></ion-icon></ion-button>
  </div>
</ion-footer>
<ion-footer [translucent]="true">
  <ion-toolbar color="dark">
      <ion-note slot="start">
        <ion-text color="light">
          &copy; 2021 ThankTheMaker
        </ion-text>
      </ion-note>
      <ion-button size="small" fill="clear" slot="end" *ngIf="!showVersionInfo" align="right" (click)="toggleVersionInfo()">Versioninfo</ion-button>
      <ion-note slot="end" *ngIf="showVersionInfo">
        <ion-text color="light">
          Version: {{version}}
        </ion-text>
      </ion-note>
  </ion-toolbar>
</ion-footer>

