<ion-header>
  <ion-toolbar>
    <ion-title>Incompatible Version</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/incompatible.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Whoops...</ion-card-subtitle>
      <ion-card-title>Incompatible Version</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>Sorry, I looks like your rESCueApp version is not compatible with the firmware of your rESCue device.</p><br/>
      <p>Don't hesitate. It's easy to update your rESCue device to a compatible version >= 2.0.</p><br/>
      Please follow this <a href="https://rescue.thank-the-maker.org/update-incompatible-version">update
      instruction.</a><br/>

      <app-accordion
        name="BLE Services">
        <ion-item *ngFor="let service of services">
          {{service}}
        </ion-item>
      </app-accordion>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-label>Skip this check</ion-label>
      <ion-toggle slot="end" name="" [(ngModel)]="skipIncompatibleCheck"
                  (ionChange)="toggleIncompatibleCheck($event)"></ion-toggle>
    </ion-item>
  </ion-toolbar>
</ion-footer>
