<ion-header>
  <ion-toolbar>
    <ion-title>Incompatible Version</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/incompatible.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Whoops...</ion-card-subtitle>
      <ion-card-title>Incompatible Version</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Sorry, I looks like your rESCueApp version is not compatible with the firmware on your rESCue device.</p><br/>
      <p>Don't hesitate. It's easy to update your rESCue device to a compatible version >= 2.0.</p><br/>
        Please follow this <a href="https://rescue.thank-the-maker.org/update-incompatible-version">update instruction.</a>
    </ion-card-content>
  </ion-card>

</ion-content>
