<ion-header>
  <ion-toolbar>
    <ion-title>rESCUe settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button id="settingsBackButton"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Set up rESCue device</ion-card-subtitle>
      <ion-card-title>Name: {{deviceName}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Hardware-Version: {{hardwareVersion}}</p>
      <p>Firmware-Version: {{softwareVersion}}</p><br />
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        LEDs Front-/Backlight
        <ion-icon name="bulb-outline" ></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Number of pixel</ion-label>
        <ion-input type="number" value="32" [(ngModel)]="ledPixel"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Battery Monitor
        <ion-icon name="battery-half-outline" ></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Number of pixel</ion-label>
        <ion-input type="number" value="5" [(ngModel)]="batmonPixel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Min. Battery Voltage (V)</ion-label>
        <ion-input type="number" inputmode="decimal" value="40.0" step="0.1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Low Battery Warning (V)</ion-label>
        <ion-input type="number" inputmode="decimal" value="42.0" step="0.1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Max. Battery Voltage (V)</ion-label>
        <ion-input type="number" inputmode="decimal" value="50.4" step="0.1"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Blynk
        <ion-icon name="bonfire-outline" ></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Auth Token</ion-label>
        <ion-input placeholder="Enter your Token" [(ngModel)]="authToken"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        CANBUS
        <ion-icon name="bus-outline" ></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>VESC-ID</ion-label>
        <ion-input type="number" value="25" [(ngModel)]="vescId"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="save()" color="primary" expand="block">Save and reboot <ion-icon slot="start" name="save">
    </ion-icon>
  </ion-button>

</ion-content>
