ion-card-title {
  font-size: 1.5em;
}

ion-card-subtitle {
  font-size: 0.7em;
}

ion-item-divider {
  --padding-top: 15px;
  --padding-bottom: 10px;
}

.item-divider {
  font-size: 1.5em;
}

ion-footer {
  position: fixed;
  bottom: 0%;
}
