<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>rESCUe settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button id="settingsBackButton"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Set up rESCue device</ion-card-subtitle>
      <ion-card-title>Name: {{rescueConf.deviceName}}
        <ion-label>
          <ion-icon slot="end" name="create-outline" size="small" (click)="changeName($event)"></ion-icon>
        </ion-label>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Hardware-Version: {{hardwareVersion}}</p>
      <p>Firmware-Version: {{softwareVersion}}</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="bulb-outline" slot="start"></ion-icon>
        Lights
      </ion-label>
    </ion-item-divider>
    <app-lights #lightComponent
                [rescueConf]="rescueConf"
                (ledTypeUpdate)="updateLedType()">
    </app-lights>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="musical-notes-outline" slot="start"></ion-icon>
        Sounds
      </ion-label>
    </ion-item-divider>
    <app-sounds #soundsComponent
                [rescueConf]="rescueConf"
                (changeEvent)="saveProperty($event)">
    </app-sounds>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="battery-half-outline" slot="start"></ion-icon>
        Battery Monitor
      </ion-label>
    </ion-item-divider>
    <app-battery #batteryComponent
                 [rescueConf]="rescueConf">
    </app-battery>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="bonfire-outline"></ion-icon>
        Blynk
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">Auth Token</ion-label>
      <ion-input class="ion-text-right" placeholder="Enter your Token" slot="end"
                 [(ngModel)]="rescueConf.authToken"></ion-input>
    </ion-item>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="bus-outline"></ion-icon>
        CANBUS
      </ion-label>
    </ion-item-divider>
    <app-canbus #canbusComponent
                [rescueConf]="rescueConf">
    </app-canbus>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="notifications-outline"></ion-icon>
        Notifications
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-text>
        <p>Send local push notifications if supported by your system.</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Enable Notifications</ion-label>
      <ion-toggle slot="end" name="notificationsEnabled" checked
                  [(ngModel)]="rescueConf.isNotificationEnabled"
                  (ionChange)="toggleNotificationsEnabled($event)"></ion-toggle>
    </ion-item>

    <ion-item-group *ngIf="rescueConf.isNotificationEnabled">
      <ion-item-divider>
        <ion-label>
          Notification types
        </ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Battery Warnings</ion-label>
        <ion-toggle slot="end" name="batteryNotificationEnabled" checked
                    [(ngModel)]="rescueConf.isBatteryNotificationEnabled"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Current Warnings</ion-label>
        <ion-toggle slot="end" name="currentNotificationEnabled" checked
                    [(ngModel)]="rescueConf.isCurrentNotificationEnabled"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">DutyCycle Warnings</ion-label>
        <ion-toggle slot="end" name="dutycycleNotificationEnabled" checked
                    [(ngModel)]="rescueConf.isErpmNotificationEnabled"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-divider>
      <ion-label class="item-divider">
        <ion-icon name="document-text-outline"></ion-icon>
        Logging
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="stacked">LogLevel</ion-label>
      <ion-select value="{{rescueConf.logLevel}}"
                  (ionChange)="changeLoglevel($event)"
                  interface="action-sheet">
        <ion-select-option value="0">Verbose</ion-select-option>
        <ion-select-option value="1">Notice</ion-select-option>
        <ion-select-option value="2">Warning</ion-select-option>
        <ion-select-option value="3">Error</ion-select-option>
        <ion-select-option value="4">Fatal</ion-select-option>
        <ion-select-option value="5">Silent</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item-divider>
    <ion-label class="item-divider">
      &nbsp;
    </ion-label>
  </ion-item-divider>
</ion-content>

<ion-footer *ngIf="stateDirty">
  <ion-toolbar>
    <ion-button (click)="save()" expand="full" color="primary">Save and reboot
      <ion-icon slot="start" name="save">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
